<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.coreweb.mapper.CommunicateInfoMapper">
	<select id="list" parameterType="com.bigdata.coreweb.model.CommunicateParam" resultType="map">
		SELECT a.*,IF(b.phone is NULL, 0, 1) AS STATUS FROM (
		SELECT sj,gsd,lx,dfds FROM sjhm WHERE xzdm LIKE concat(#{param.code},'%') 
		<if test="param.phone != null and param.phone != ''">
		and sj LIKE CONCAT('%',#{param.phone},'%') 
		</if>
		GROUP BY sj) a
		LEFT JOIN (SELECT phone FROM troubleshoot_info where phone_status = 0 GROUP BY phone) b ON a.sj = b.phone
	</select>
	<select id="listByPhone" parameterType="com.bigdata.coreweb.model.CommunicateParam" resultType="map">
		SELECT 
			* 
		FROM 
			sjhm 
		WHERE 
			sj = #{param.phone} 
			and xzdm LIKE concat(#{param.code},'%') 
		GROUP BY DATE,jzbs
	</select>
	<select id="listData" parameterType="com.bigdata.coreweb.model.CommunicateParam" resultType="map">
		SELECT 
			a.*,COUNT(1) as days,IF(b.phone is NULL, 0, 1) AS status
		from 
			(
				SELECT 
					sj,gsd,gsd1,lx,dfxq,xzmc,jzmc,lksj,yys,dz,max(date) as date
				FROM 
					sjhm 
				WHERE 
					xzdm LIKE concat(#{param.code},'%') 
					<if test="param.county != null and param.county != ''">
						and dfxq = #{param.county}
					</if>
					<if test="param.township != null and param.township != ''">
						and xzmc = #{param.township}
					</if>
					<if test="param.radio == 1">
						and xzmc is null
					</if>
					<if test="param.startDate != null">
						and date <![CDATA[ >= ]]> #{param.startDate}
					</if>
					<if test="param.endDate != null">
						and dfxq <![CDATA[ <= ]]> #{param.endDate}
					</if>
				GROUP BY sj,dfxq,xzmc,DATE
			) a 
			LEFT JOIN 
			(
				SELECT 
					phone 
				FROM 
					troubleshoot_info 
				WHERE 
					phone_status = 0 
				GROUP BY phone
			) b 
			ON a.sj = b.phone
			<if test="param.status != null">
				WHERE IF(b.phone IS NULL, 0, 1)=#{param.status}
			</if>
			GROUP BY sj,dfxq,xzmc 
			<if test="param.count != null">
			 HAVING COUNT(1) > #{param.count}
			</if>
	</select>
	
	<select id="exportListData" parameterType="com.bigdata.coreweb.model.CommunicateParam" resultType="com.bigdata.coreweb.model.ExportListData">
		SELECT 
			a.*,COUNT(1) as days,IF(b.phone is NULL, '未排查', '已排查') AS status
		from 
			(
				SELECT 
					sj,gsd,gsd1,lx,dfds,dfxq,jzmc,lksj,yys,jzbs,xzmc,dz,max(date) as date
				FROM 
					sjhm 
				WHERE 
					xzdm LIKE concat(#{code},'%') 
					<if test="county != null and county != ''">
						and dfxq = #{county}
					</if>
					<if test="township != null and township != ''">
						and xzmc = #{township}
					</if>
					<if test="radio == 1">
						and xzmc is null
					</if>
					<if test="startDate != null">
						and date <![CDATA[ >= ]]> #{startDate}
					</if>
					<if test="endDate != null">
						and dfxq <![CDATA[ <= ]]> #{endDate}
					</if>
				GROUP BY sj,dfxq,xzmc,DATE
			) a 
			LEFT JOIN 
			(
				SELECT 
					phone 
				FROM 
					troubleshoot_info 
				WHERE 
					phone_status = 0 
				GROUP BY phone
			) b 
			ON a.sj = b.phone
			<if test="status != null">
				WHERE IF(b.phone IS NULL, 0, 1)=#{status}
			</if>
			GROUP BY sj,dfxq,xzmc 
			<if test="count != null">
			 HAVING COUNT(1) > #{count}
			</if>
	</select>
	
	<select id="statisticsData" parameterType="com.bigdata.coreweb.model.CommunicateParam" resultType="com.bigdata.coreweb.model.StatisticsData">
		SELECT a.dfxq as area,a.phoneNum,IFNULL(b.whNum,0) AS whNum,IFNULL(c.hbNum,0) AS hbNum,
				IFNULL(oneNum,0) AS oneNum,IFNULL(twoNum,0) AS twoNum,IFNULL(threeNum,0) AS threeNum
		FROM (
		SELECT a.dfxq,SUM(1) AS phoneNum FROM (
		SELECT dfxq,lx FROM sjhm  WHERE xzdm LIKE concat(#{code},'%') 
		<if test="startDate != null">
			and date <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and date <![CDATA[ <= ]]> #{endDate}
		</if>
		GROUP BY sj,dfxq ) a 
		GROUP BY a.dfxq) a
		LEFT JOIN (
		SELECT a.dfxq,SUM(1) AS whNum FROM (
		SELECT dfxq,lx FROM sjhm  WHERE xzdm LIKE concat(#{code},'%')  AND lx = '武汉' 
		<if test="startDate != null">
			and date <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and date <![CDATA[ <= ]]> #{endDate}
		</if> 
		GROUP BY sj,dfxq ) a 
		GROUP BY a.dfxq ) b ON a.dfxq = b.dfxq
		LEFT JOIN (
		SELECT a.dfxq,SUM(1) AS hbNum FROM (
		SELECT dfxq,lx FROM sjhm  WHERE xzdm LIKE concat(#{code},'%')  AND lx = '湖北' 
		and sj not in (SELECT sj FROM sjhm  WHERE xzdm LIKE concat(#{code},'%')  AND lx = '武汉' )
		<if test="startDate != null">
			and date <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and date <![CDATA[ <= ]]> #{endDate}
		</if>
		GROUP BY sj,dfxq ) a 
		GROUP BY a.dfxq) c ON a.dfxq = c.dfxq
		LEFT JOIN (
		SELECT f.name,SUM(1) AS oneNum FROM (
		SELECT auth_code,phone FROM troubleshoot_info WHERE auth_code LIKE concat(#{code},'%') 
		<if test="startDate != null">
			and time <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and time <![CDATA[ <= ]]> #{endDate}
		</if>
		AND phone_status IN (3,4) GROUP BY phone,auth_code) e
		JOIN district f ON e.auth_code = f.code) t ON a.dfxq = t.name
		LEFT JOIN (
		SELECT f.name,SUM(1) AS twoNum FROM (
		SELECT auth_code,phone FROM troubleshoot_info WHERE auth_code LIKE concat(#{code},'%') 
		<if test="startDate != null">
			and time <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and time <![CDATA[ <= ]]> #{endDate}
		</if>
		AND phone_status IN (1,2) GROUP BY phone,auth_code) e
		JOIN district f ON e.auth_code = f.code) k ON a.dfxq = k.name
		LEFT JOIN (
		SELECT f.name,SUM(1) AS threeNum FROM (
		SELECT auth_code,phone FROM troubleshoot_info WHERE auth_code LIKE concat(#{code},'%') 
		<if test="startDate != null">
			and time <![CDATA[ >= ]]> #{startDate}
		</if>
		<if test="endDate != null">
			and time <![CDATA[ <= ]]> #{endDate}
		</if>
		AND phone_status = 5 GROUP BY phone,auth_code) e
		JOIN district f ON e.auth_code = f.code) n ON a.dfxq = n.name
	</select>
</mapper>
