<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.coreweb.mapper.TroubleshootInfoMapper">
	<select id="list" parameterType="com.bigdata.coreweb.model.TroubleshootInfoParam" resultType="map">
		SELECT
		*
		FROM
		troubleshoot_info
		WHERE
		auth_code LIKE CONCAT(#{param.authCode},'%')
		<if test="param.phone != null and param.phone != ''">
			and phone LIKE CONCAT('%',#{param.phone},'%')
		</if>
	</select>
</mapper>
